* {
    margin: 0;
}


header {
    background-color: rgb(238, 73, 100);
    max-width: 1488px;
}

ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

li {
    list-style: none;
    color: white;
}

ol {
    display: flex;
}

.titre {
    background-color: white;
}

h1 {
    color: rgb(238, 73, 100);
}

p {
    color: black;
    margin: 10px;
}

.menu-btn {
    margin: 10px;
}

.sabonner {
     margin: 10px;
     margin-left: auto;
}

#bouton {
    background-color: yellow;
    border-radius: 5px;
    margin: 0px 50px;
    border: none;
}

#bouton:hover {
    filter: brightness(5px);
    background-color: rgb(178, 176, 176);
}

li.survol {
    width: 33.3%;

}
 li.survol:hover {
    background-color: brown;
    }
#liseret {
    height: 5px;
}
