* {
    margin: 0;
}


header {
    background-color: rgb(238, 73, 100);
    max-width: 1488px;
}

ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

li {
    list-style: none;
    color: white;
}

ol {
    display: flex;
}

.titre {
    background-color: white;
}

h1 {
    color: rgb(238, 73, 100);
}
 nav p {
    text-align: center;
  }

p {
    color: black;
    margin: 10px;
}

.menu-btn {
    margin: 10px;
}

.sabonner {
     margin: 10px;
     margin-left: auto;
}

#bouton {
    background-color: yellow;
    border-radius: 5px;
    margin: 0px 50px;
    border: none;
}

#bouton:hover {
    filter: brightness(5px);
    background-color: rgb(178, 176, 176);
}

li.survol {
    width: 33.3%;

}
 li.survol:hover {
    background-color: brown;
    }

li p {
    color: white;
}

#liseret {
    height: 5px;
}

@media only screen and (max-width: 600px) {
    ul {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap; 
    }

    span {
        display: none;
    }

    .sabonner {
        display: none;
    }

    li.survol {
        width: 100%;
    
    }
}

.container {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: rgb(237, 235, 235);
    margin: 10px 50px;
  }
  
  .cell {
    display: flex;
    flex-direction: row;
    background-color: white;
    margin: 20px;
    height: 200px;
    overflow: hidden;
  }
  
  .cell p {
    overflow: hidden;
    width: 50%;
  }

  img {
    width: 100%;
    height: 100%;
  }
  
  .container_img {
    width: 50%;
  }
  h2 {
    color: rgb(238, 73, 100);
    margin: 20px 50px 0px;
    font-weight: bold;
  }

@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }

}

footer {
    background-color: rgb(238, 73, 100);
    padding: 10px 0;
    margin: 30px 0px 0px;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: center;
  }
  
  .footer-content a {
    text-decoration: none;
    color: white;
    margin: 0 20px;
  }
